<img src="/assets/pics/carlslogo.gif" alt="Carls Logo" class="mx-auto d-block" id="logo">
<div class="container">
  <div class="row">
    <img src="/assets/pics/burger.jpg" alt="burger time" class="mx-auto d-block" id="burgerpic">
  </div>
  <br>
  <div class="row">
    <div class="col-lg">
      <h2 class="plate">Ready to Enjoy</h2>
      <ul>
        {{#each burgers}}
        {{#unless eaten}}
        {{> burgers/burger-block eaten=true}}
        {{/unless}}
        {{/each}}
      </ul>
      <br>
    </div>

    <div class="col-lg-3">
      <h2 class="plate">Order a Burger</h2>
      <form class="create-form plate">

        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <br>
          <input type="text" id="ca" name="name">
        </div>

        <button type="submit">Add Burger</button>
      </form>
      <br>
    </div>
    <div class="col-lg">
      <h2 class="plate">Empty Plates</h2>

      <ul>
        {{#each burgers}}
        {{#if eaten}}
        {{> burgers/burger-block eaten=false}}
        {{/if}}
        {{/each}}
      </ul>
      <br>
    </div>
  </div>
</div>