<h1>Welcome to Carl's Cafe</h1>
{{!-- <img src="../public/assets/pics/carlslogo.gif" alt="Carls Logo"> --}}
{{!-- <div class="container"> --}}
  <img src="../public/assets/pics/burger.jpg" alt="Carls Logo">
  <div class="row">
<div class="col-md-4">
  <h2>Burgers Ready to Eat!</h2>
<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burger-block eaten=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<div class="col-md-4">
<h2>Order a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>
<div class="col-md-4">
<h2>Empty Burgers Plates</h2>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burger-block eaten=false}}
    {{/if}}
  {{/each}}
</ul>
</div>
</div>
</div>